<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/htmx.org"></script>
	<link rel="stylesheet" href="/static/style.css">
	<title>LowEnd</title>
</head>
<body>
	<div id="navbar">
		<div class="green" hx-get="/" hx-target="body" hx-push-url="true" hx-swap="outerHTML" style="cursor:pointer;">
			<img src="/static/imgs/HCxp4.png" style="margin-left:20px;height:30px;">
			<button class="navbar-button"
			style="font-family: 'Phantom Sans Bold';letter-spacing: 1px;"
			>Start</button>
		</div>
		<div hx-target="body" hx-push-url="true" hx-swap="outerHTML">
			<button class="navbar-button" hx-get="/submit">Submit</button>
			<button class="navbar-button" hx-get="/projects">Projects</button>
			<button class="navbar-button" hx-get="/guide">Guide</button>
			<button class="navbar-button" hx-get="/shop">Shop</button>
		</div>
		<div id="login-section">
			<button onclick="window.location.href='https://auth.hackclub.com/oauth/authorize?client_id=421396b4a7e853e891b738766586b76a&redirect_uri=https%3A%2F%2Flowend.guysan.site%2Fapi%2Fauth%2Fcallback&response_type=code&scope=email+name+verification_status+slack_id'" class="navbar-button">Login with Hack Club</button>
		</div>
	</div>
	<div class="card" style="width:30vw;">
		<h1 class="cardtitle">System Error</h1>
		<div class="cardinner" style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
			<img src="/static/imgs/error.png" style="width: 10vw;">
			<div>
				<h2>Guide Not Found.</h2>
				<h2>Check back later!</h2>
			</div>
		</div>
	</div>
	<div id="orphy" style="cursor:pointer;" onclick="orphyClick()">
		<img id="orphyimg" src="/static/orphy/orpheus3rmbg.png">
		<div id="orphytext">
			<p>This is where I shine!</p>
		</div>
		<div id="textboxtriangle"></div>
		<img id="orphybackground" src="static/orphy/background.png">
	</div>
	<script>
	{
		const urlParams = new URLSearchParams(window.location.search);
		if (urlParams.has('slackid')) {
			const slackid = urlParams.get('slackid');
			const name = urlParams.get('name');
			localStorage.setItem('slackid', slackid);
			localStorage.setItem('name', name);
			document.getElementById('login-section').innerHTML = `<span style='padding-right: 10px;'>Logged in as ${name.split(" ")[0]}</span>`;
		}
		else if (localStorage.getItem('slackid') != null) {
			const name = localStorage.getItem('name');
			document.getElementById('login-section').innerHTML = `<span style='padding-right: 10px;'>Logged in as ${name.split(" ")[0]}</span>`;
		}
		class OrphySay {
			constructor(text, duration, pose) {
				this.text = text;
				this.duration = duration;
				this.pose = pose;
			}
		}
		const orphyText = [
			new OrphySay("This is where I shine!", 1500, "3"),
			new OrphySay("When the guide is made, I will have more to say!", 1500, "2"),
			new OrphySay("I will be expanded when the guide is made", 1500, "1")
		]
		// let istalking = false;
		window.orphyClick = function() {
			// if (istalking) return;
			// istalking = true;
			const randomIndex = Math.floor(Math.random() * orphyText.length);
			const orphySay = orphyText[randomIndex];
			document.getElementById('orphytext').innerHTML = `<p>${orphySay.text}</p>`;
			document.getElementById('orphyimg').src = `/static/orphy/orpheus${orphySay.pose}rmbg.png`;
			// setTimeout(() => {
			// 	istalking = false;
			// }, orphySay.duration);
		}
	}
	</script>
</body>
</html>